@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.main{
    transition: easeall height 1s ,width 1s;
    width:1000px;
    margin: auto;
    max-width: 1440px;
    font-family: 'Montserrat', sans-serif;
}
.main h1{
    color: #333333; 
    font-size:36px
}
.contact h3{
    color: #333333; 
    font-size:18px
}
.contact div p{
    text-align:left;
    margin-bottom: 0%;
    color: #333333;
    font-size:12px;
}

.contact div input{
    border: 1px solid #828282;
    border-radius: 12px;
    width: 415px;
    height: 56px;
    padding-left: 40px;
    font-size:16px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    transition: height 0.7s ,width 0.7s;
    }

.contact div img{
    position: absolute;
    width: 20px;
    height: 20px;
    padding-top: 30px;
    padding-left: 15px;
    filter: invert(55%) sepia(5%) saturate(12%) hue-rotate(335deg) brightness(93%) contrast(87%);
    }

.shipping h3{
    color: #333333; 
    font-size:18px
}
.shipping div p{
    margin-bottom: 0%;
    color: #333333;
    font-size:12px;
}
.shipping div input{
        border: 1px solid #828282;
        border-radius: 12px;
        width: 415px;
        height: 56px;
        font-size:16px;
        padding-left: 40px;
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        transition: height 0.7s ,width 0.7s;
        }

.shipping div img{
    position: absolute;
    width: 20px;
    height: 20px;
    padding-top: 30px;
    padding-left: 15px;
    filter: invert(55%) sepia(5%) saturate(12%) hue-rotate(335deg) brightness(93%) contrast(87%);
   
    }
.subinput div p{
    margin-bottom: 0%;
    font-size: 12px;
    color: #333333;
}
.subinput{
   display:flex;
  }

.subinput input{
        border: 1px solid #828282;
        border-radius: 12px;
        height: 56px;
        font-size:16px;
        padding-left: 40px;
        width: 175px;
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;

        }
.subinput div img{
    position: absolute;
    width: 20px;
    height: 20px;
    padding-top: 30px;
    padding-left: 15px;
    filter: invert(55%) sepia(5%) saturate(12%) hue-rotate(335deg) brightness(93%) contrast(87%);
   
    }

.checkbox{
   display:flex; 
   margin-top: 10px;
 
}
.checkbox input{
    margin-top:12px;
    width: 21px;
height: 21px;
border: 1px solid #828282;
border-radius: 4px;
transition: height 0.7s ,width 0.7s;
}
.checkbox p{
    font-size: 14px;  
    color: #333333; 
    
}

aside{
    position:relative;
    float:right;
    background: #F2F2F2;
    width: 383px;
    height: 535px;
    border-radius: 12px;
    color: #4E5150;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: height 0.7s ,width 0.7s;
}
aside div {
    display:flex;
}
aside div div{
    display:block;
}

aside div div div{
    display:flex;
}
aside div div div a:nth-child(1){
    color: #F2994A;

}
aside div img{
    width: 134.21px;
    height: 136.27px;
    border-radius: 30px;
    padding: 20px;
}
aside h3{
    margin-bottom:5px;
    
}
.cart {
    font-size:16px; 
    border: 1px solid #828282;
    width: 134.25px;
    height: 52px;
    border-radius: 12px;
    margin-top: 30px;
    color: #333333;
    ;

}
.cart input{
    width: 50px;
    background: #F2F2F2;
    text-align: center;
    border: none;
}

.cart span{
    width:21px;
    height:21px;
    background: #E0E0E0;
    border-radius:4px;
    text-align: center;
    margin: auto;

}
aside hr{
    width: 327.06px;
}
aside div:nth-child(6){
    width: 85%;
    margin: auto;
    font-size: 18px;
}
aside div:nth-child(6) p:nth-child(1){
   width: 80%;

}
aside div:nth-child(8){
    width: 85%;
    margin: auto;
    font-size: 18px;
}
aside div:nth-child(8) p:nth-child(1){
   width: 80%;

}
button{
    position: relative;;
    left:30%;
    margin-top:20px;
    background: #F2994A;
    width: 166px;
    height: 54px;
    border: none;
    border-radius: 12px;
    color:white;
    font-size:16px;
}

footer{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color:#4E5150;
    font-size: 16px;
}
@media only screen and (max-width:1100px){
.main{
     width:378px;
     margin: auto;
 }
.main h1{
    font-size: 24px;
}
aside{
    width: 375px;
    height:489px;
     float:none;
     position:relative;
     left:0%;
     font-size:12px
 }

aside div:nth-child(6){
    font-size: 14px;
}
aside div:nth-child(8){
    font-size: 14px;
}

aside div img{
    width: 160.71px;
    height: 124.32px; 
}

.cart{
    width: 110px;
height: 35px;
font-size: 12px;
}

.cart input{
    width: 10px;
}
.cart span{
    width:10px;
    height:10px;
    font-size: 10px;
    padding-bottom: 2px;
}
button{
    margin-left: 22%;
}
.contact h3{
   font-size:14px
}

.contact div p{
    font-size:10px;
}
.contact div input{
    width: 330px;
    height: 40px;
    font-size: 12px;
    margin-top: 5px;
}
.contact div img{
    width: 15px;
    height: 15px;
    padding-top: 20px;
    padding-left: 15px;
}
.shipping h3{
    font-size:14px
 }
 
 .shipping div p{
     font-size:10px;
 }
.shipping div input{
    width: 330px;
    height: 40px;
    font-size: 12px;
    margin-top: 5px;
}
.shipping div img{
    width: 15px;
    height: 15px;
    padding-top: 20px;
    padding-left: 15px;
}

.subinput div p{
    font-size:10px;
}
.subinput div input{
    width: 135px;
    height: 40px;
    font-size: 12px;
    margin-top: 5px;
}
.subinput div img{
    width: 15px;
    height: 15px;
    padding-top: 20px;
    padding-left: 15px;
}
button{
    height: 54px;
    width:166px;
    position: relative;
    left: 130px;
}
footer{
    font-size: 12px;
}
}