@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";



#main{
    width: 1000px;
    margin: auto;
    max-width: 1440px;
    
}
.contact{
    width: 500px; 
    
}
.contact div p{
    text-align:left;
    margin-bottom: 0%;
}

.contact div input{
    border: 1px solid #828282;
    border-radius: 12px;
    width: 465px;
    height: 56px;
    padding-left: 40px;
    font-size:16px;
    }

.contact div img{
    position: absolute;
    width: 20px;
    height: 20px;
    padding-top: 20px;
    padding-left: 15px;
    }

.shipping div p{
    margin-bottom: 0%;
}
.shipping div input{
        border: 1px solid #828282;
        border-radius: 12px;
        width: 465px;
        height: 56px;
        font-size:18px;
        padding-left: 40px;
        }

.shipping div img{
    position: absolute;
    width: 20px;
    height: 20px;
    padding-top: 20px;
    padding-left: 15px;
    }
.subinput div p{
    margin-bottom: 0%;
}
.subinput{
   display:flex;
    width: 217px;
}

.subinput input{
        border: 1px solid #828282;
        border-radius: 12px;
         width: 217px;
        height: 56px;
        font-size:18px;
        padding-left: 40px;
      
        }
.subinput div img{
    position: absolute;
    width: 20px;
    height: 20px;
    padding-top: 20px;
    padding-left: 15px;
    }

.checkbox{
   display:flex; 
}
.checkbox input{
    margin-top:10px;
    width: 21px;
height: 21px;
border: 1px solid #828282;
border-radius: 4px;
}
.checkbox p{
    font-size: 14px;
}

aside{
    position:relative;
    float:right;
    background: #F2F2F2;
    width: 383px;
    height: 535px;
    transition: left 0.5s;
    border-radius: 12px;
}
aside div {
    display:flex;
}
aside div div{
    display:block;
}

aside div div div{
    display:flex;
}
aside div div div a:nth-child(1){
    color: #F2994A;

}
aside div img{
    width: 134.21px;
    height: 136.27px;
    border-radius: 30px;
    padding: 20px;
}
aside h3{
    margin-bottom:5px;
}
.cart {
    font-size:16px; 
    border: 1px solid #828282;
    width: 134.25px;
    height: 52px;
    border-radius: 12px;
    margin-top: 30px;
    color: #333333;
    ;

}
.cart input{
    width: 50px;
    background: #F2F2F2;
    text-align: center;
    border: none;
}

.cart span{
    width:21px;
    height:21px;
    background: #E0E0E0;
    border-radius:4px;
    text-align: center;
    margin: auto;

}
aside hr{
    width: 327.06px;
}
aside div:nth-child(6){
    width: 85%;
    margin: auto;
}
aside div:nth-child(6) p:nth-child(1){
   width: 80%;

}
aside div:nth-child(8){
    width: 85%;
    margin: auto;
}
aside div:nth-child(8) p:nth-child(1){
   width: 80%;

}

@media only screen and (max-width:1100px){
 aside{
     float:none;
     position:relative;
     left:0%;
 }

}